body, html {
    height: 100%;
}

.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    background-color: red;
}

.div1 {
    grid-area: 1 / 1 / 2 / 13;
}

.div2 {
    grid-area: 2 / 1 / 8 / 3;
}

.div3 {
    grid-area: 8 / 9 / 9 / 13;
}

.div4 {
    grid-area: 2 / 9 / 8 / 13;
}

.div5 {
    grid-area: 2 / 3 / 8 / 9;
}

.div6 {
    grid-area: 8 / 1 / 9 / 9;
}